/* fuente de letra */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* modelo de caja flesible */
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:root{

    --primary: #0075ff;
    --secund: #032349;
    --third: #EFEFEF;
    --bg2: #2A556C;
    --color-card: #BDBCA4;
    --bg1: #ffffff;
    --text-color: hsl(0, 0%, 35%);
    --font-fam: kanit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


.header-container{
    position: relative;
    background: #0075FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}


.navbar{
    background: var(--bg1);
    
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
    width: 100vw;
    /* height: 72px; */
    position: fixed;
    display: flex;
    

}

.navbar-brand {
    background-image: url(/src/images/logo3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 205px;
    height: 44px;
    /* background-color: aqua; */
}

/* tiene problemas
.containers{

    /* height: 100vh; 
    
    width: 100vw; 
    padding: 2px;
    
}


/*----------------- home ------------------ */
.home{
    
    background: var(--bg1);
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2em;
    /* margin:4px; */
    padding: 4px;
    padding-top: 50px;
    

}

/*------------- animacion */
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    background: var(--bg1);
    
    height: 102px;
    
   
  }

  .card {
    width: 100%;
   
   
    /* border-radius: 24px; */
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    /* padding: 4px; */
    
    
    /*  */
    display: grid;
    place-items: center;
    background: var(--bg1);
    
/* 
    
    background-repeat: no-repeat;
    background-size: contain; */
    
    

    
/* 
    &:nth-child(1) {
      background: #7958ff;
    }

    &:nth-child(2) {
      background: #5d34f2;
    }

    &:nth-child(3) {
      background: #4300da;
    } */
  }
  .carousel {
    /* ... */
    > * {
      flex: 0 0 100%;
    }
  }

  /* Group the cards for better structure. */
  .group {
    display: flex;
    gap: 10px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 10px;
  }

  .group {
    /* ... */
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 10s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .carousel {
    /* ... */
    &:hover .group {
      animation-play-state: paused;
    }
  }



.card > img{
    min-width: 50px;
    max-width:100px;
}


/* ----------------- home ------------------ error en este bloque */

.center{
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* background: #000; */
}

.home-title-container{
    max-width:685;
}
.home-title{
    
    font-size: 38px;
    font-family: kanit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
.home-title-resalt{
    color: var(--primary);
}


.home-contaner-img{
    background-image: url(/src/images/imgHeader.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 298px;
    display: flex;
    justify-content: flex-end;
    
}


.services-container{
    background: var(--bg1);
    padding-top: 30px;
}
.services{
    padding: 3em;
    display: grid;
    gap: 2em;
    
    /* background: #000; */
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.item-card {
    padding: 2em;
    
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    /* background: #032349; */
    background: var(--color-card);
    

}
.service-title{
    font-size: 20px;
    font-family: kanit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}



.icon-contenedor{
    display: flex;      
    justify-content: center;    
    color: var(--text-color); 
}

.titulo-cajas{
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: var(--text-color); 
}

.texto-cajas{
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: var(--text-color); 
}



/*--------------foother---------------*/

.llamada{
    background: linear-gradient(90deg, #093DF4, #0075FF);
    width: 100%;
    height: 404px;
    display: grid;
    place-items: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9), 0 2px 20px rgba(0, 0, 0, 0.9);

}

.mid-text{
    color: var(--bg1);
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 34px;
    font-family: "Kanit", sans-serif;
    line-height: 0.9;
    
}
.Llamada-p{
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;  
    justify-content: center;  
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    display: inline-block
}

.button-llamada{
    /* padding: 10px 70px; */
    font-size:20px ;
    height: 37px;
    width: 250px;
    text-decoration: none;
    background: none;
    border: 1px solid var(--bg1);
    color: var(--bg1);

}

.button-llamada:hover {
    background-color: var(--secund);
}






@media (min-width: 900px){
    .home{
        flex-direction: row;
        /* background: #000; */
        align-items: center;
        justify-content: center;
        
    }
    .center{
        /* background-color: aqua; */
        height: 70vh;
        width: 90vw;
    }
    .home-title-container{
        width: 50%;
        /* background: red; */
        height: 62%;

    }
    .home-contaner-img{
        width: 50%;
        height: 100%;
    }
    .home-title{
        font-size: 64px;
    }
    .home-title{
        font-size: 64px;
    }
    
    .navbar-brand {
        background-image: url(/src/images/logo1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 205px;
        height: 24px;
        /* background-color: aqua; */
    }

    /* sevices */
    .service-title{
        font-size: 34px;
        color: var(--text-color);
    }

    .button{
        /* padding: 10px 70px; */
        font-size:30px ;
        height: 57px;
        width: 440px;
        text-decoration: none;
        background: none;
        border: 1px solid var(--bg1);
        color: var(--bg1);
    
    }

}
.Area-VMO{
    width: 100%;
    text-align: center;
    display: block;
    flex-direction: column;
    margin-top: 90px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.title-VMO{
    font-size: 70px;
    font-family: "Lilita One", sans-serif;
}


.title-div{
    margin-bottom: 85px;
}

.VMO{
    font-size: 64px;
    font-family: "Lilita One", sans-serif;  
}

.text-VMO{
    font-size: 45px;
    font-family: var(--font-fam); 
} 

.margin-div{
    margin: 0px 157px  0px;
}


@media (max-width: 700px){

    .title-VMO{
        font-size: 40px;
    }
    
    .title-div{
        margin-bottom: 35px;
    }
    
    .VMO{
        font-size: 30px;
    }
    
    .text-VMO{
        font-size: 20px;
    } 

    .margin-div{
        margin: 0px 50px  0px;
    }
}


.footer {
    text-align: center;
    display: block;
    flex-direction: column;
    margin-top: 70px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


}

.img-footer{
    width: 173px;
    height: 23px;
    margin-bottom: 50px;
}

.text-footer{
    font-size: 25px;
    font-family: var(--font-fam);
}

.button-footer{
    font-size: 33px;
    height: 62px;
    width: 311px;
    text-decoration: none;
    background: #0075FF;
    border: 1px solid var(--bg1);
    color: var(--bg1);
    border-radius: 63px;
    margin-top: 30px;
}

.iconos-footer{
    margin-top: 50px;
}

.iconos{
    margin: 0px 15px 0px;
}

.ondas-1{
    position: relative;
    width: 100%;
    height: 200px;
    background: #007bff;
    overflow: hidden;
}




.space{
    height: 80px;
}