/* fuente de letra */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* modelo de caja flesible */
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:root{

    --primary: #0075ff;
    --secund: #032349;
    --third: #EFEFEF;
    --bg2: #2A556C;
    --color-card: #BDBCA4;
    --bg1: #ffffff;
    --text-color: hsl(0, 0%, 35%);
}


.header-container{
    position: relative;
    background: #0075FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}


.navbar{
    background: var(--bg1);
    
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
    width: 100vw;
    /* height: 72px; */
    position: fixed;
    display: flex;
    

}

.navbar-brand {
    background-image: url(/src/images/logo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 205px;
    height: 24px;
    /* background-color: aqua; */
}
.containers{
    
    /* height: 100vh; */
    
    width: 100vw; 
    padding: 2px;
    
}
/*----------------- home ------------------ */
.home{
    
    background: var(--bg1);
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2em;
    /* margin:4px; */
    padding: 4px;
    padding-top: 50px;
    

}

/*------------- animacion */
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    background: var(--bg1);
    z-index: 0;
    
   
  }

  .card {
    width: 100%;
    background: var(--bg1);
   
    /* border-radius: 24px; */
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    
    
    /*  */
    display: grid;
    place-items: center;
    background: var(--bg1);
    
/* 
    
    background-repeat: no-repeat;
    background-size: contain; */
    
    

    
/* 
    &:nth-child(1) {
      background: #7958ff;
    }

    &:nth-child(2) {
      background: #5d34f2;
    }

    &:nth-child(3) {
      background: #4300da;
    } */
  }
  .carousel {
    /* ... */
    > * {
      flex: 0 0 100%;
    }
  }

  /* Group the cards for better structure. */
  .group {
    display: flex;
    gap: 10px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 10px;
  }

  .group {
    /* ... */
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 10s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .carousel {
    /* ... */
    &:hover .group {
      animation-play-state: paused;
    }
  }



.card > img{
    width: 100%;
}


/* ----------------- home ------------------ error en este bloque */

.center{
    height: 80vh;
}

.home-title-container{
    max-width:685;
}
.home-title{
    font-size: 38px;
    font-family: kanit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
.home-title-resalt{
    color: var(--primary);
}

.home-contaner-img{
    
    background-image: url(/src/images/imgHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 298px;
    
    /* background: #032349; */
    
}

/*--------------- parte de el centro--------------- */


.info{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 40px;
    margin-top: 20px;
    justify-content: space-between;
    height: 500px;
}

.mid-t {
    height: 7   50px;
    width: 100%;
    background-color: var(--third);
    padding-top: 20px; /* Añadir padding superior */
}

.text-mid{
    font-family: "Kanit", sans-serif;
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    line-height: 0.9;
    color: #BDBCA4;
    margin: 0 25px 0 25px;
}



.cuadro-gestion, .cuadro-sistema, .cuadro-commerce, .cuadro-desarrollo {
    width: 270px;
    height: 410px;
    background-color: var(--color-card);
    padding: 20px;
}



.icon-contenedor{
    display: flex;      
    justify-content: center;     
}

.texto-cajas{
    font-family: "Kanit", sans-serif;
    font-size: 18.5px;
}


/*--------------foother---------------*/

.footer{
    background: linear-gradient(90deg, #093DF4, #0075FF);
    width: 100%;
    height: 250px;
}

.last-text{
    color: var(--bg1);
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    line-height: 0.9;
    
}
.footer-p{
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;  
    justify-content: center;  
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    display: inline-block
}

.boton{
    color: var(--bg1);
    padding: 5px 50px;
    text-decoration: none;
    border: 2px solid var(--bg1);
    display: inline-block
}

.boton:hover {
    background-color: var(--secund);
}



@media  (max-width: 600px) {
    .cuadro-gestion, .cuadro-sistema, .cuadro-commerce, .cuadro-desarrollo {
        width: 100%;
        margin: 25px 0;
    }
    .mid-t{
        height: 2205px;
        margin-top: -20px
    }   
    .footer-p{
        padding: 0;
    }

     
    
} 



@media (min-width: 700px){
    .home{
        flex-direction: row;
        /* background: #000; */
        align-items: center;
        justify-content: center;
        
    }
    .center{
        /* background-color: aqua; */
        height: 70vh;
    }
    .home-title-container{
        width: 50%;
        /* background: red; */
        height: 62%;

    }
    .home-contaner-img{
        width: 50%;
    }
    
}